body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 8px #000;
  color: #fff;
  background: #888;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
      background-image: url("../img/back2.jpg");
}

#top{
	text-align: center;
	margin:1px;
	padding:1px;
}

#menu{
	background-color: rgba(128,128,128,0.5);
	border-radius: 25px;
	float: left;
	width: 15%;
	padding:20px;
	padding-top:10px;
	padding-bottom:1px;
	margin:5px;
	margin-left:20px;
}

#content{
	background-color: rgba(128,128,128,0.5);
	border-radius: 20px;
	width: 70%;
	float: right;
	
	padding:25px;
	padding-top:1px;
	margin:5px;
	margin-left:10px;
	margin-right:50px;
}

#foot{
	width: 99%;
	font-size: 0.7em;
	margin:3px;
	text-align: right;
}

#settings{
	float:right;
	padding:0px;
	margin:0px;
}


h1{
  font-size: 4em;
  color: #fff;
  margin:5px;
}

h2{
  color: #fff;
}

p{
  font-size: 1.0em;
}

a{
  color: #fff;
  text-decoration: none;
}

footer{
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}

#temperature{
  text-decoration: none;
  border-bottom: 0.05em dotted white;
}

#image {


}

#map {
	height: 50%; 
 }

.menuItem {
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
	font-size: 1.1em;
	width: 95%;
	padding:2px;
	margin:5px;
}

.menuItem:hover {
	background-color: rgba(150,150,150,0.7);
}

.box {
	background-color: rgba(250,250,250,0.5);
	border-radius: 10px;
	padding:10px;
	margin:5px;
}

.inbox {

	border-radius: 10px;
	padding:10px;
	
	margin:10px;
	margin-top:20px;
}

.formElement{
		width: 15%;
		float:left;

}

.btn {
  background: #63d934;
  background-image: -webkit-linear-gradient(top, #63d934, #478018);
  background-image: -moz-linear-gradient(top, #63d934, #478018);
  background-image: -ms-linear-gradient(top, #63d934, #478018);
  background-image: -o-linear-gradient(top, #63d934, #478018);
  background-image: linear-gradient(to bottom, #63d934, #478018);
  -webkit-border-radius: 33;
  -moz-border-radius: 33;
  border-radius: 33px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn:hover {
  background: #407a27;
  background-image: -webkit-linear-gradient(top, #407a27, #589e16);
  background-image: -moz-linear-gradient(top, #407a27, #589e16);
  background-image: -ms-linear-gradient(top, #407a27, #589e16);
  background-image: -o-linear-gradient(top, #407a27, #589e16);
  background-image: linear-gradient(to bottom, #407a27, #589e16);
  text-decoration: none;
}



